@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,500;1,900&display=swap');
*{
    font-family: 'Poppins',cursive;
}
body{
    color: azure;
    width: 100%;
    height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-color: black;
}
.greetings{
    font-size: 6rem;
    font-weight: 900;
}
.greetings > span{
    filter: brightness(1.2);
    animation: glow 2.5s ease-in-out infinite; /*glowing letters*/
}
@keyframes glow{
    0%, 100%{
        color: #fff5fb;
        text-shadow: 0 0 12px #ff8fd1,
                     0 0 50px #ff4fa3, 
                     0 0 100px #ff1f8f,
                     0 0 120px #ff1f8f;
    }
    10%, 90%{
        color: #111;
        text-shadow: none;
    }
}
.greetings > span {
    animation-delay: calc(var(--i) * 0.2s);
}

.description{
    font-size: 1.5rem;
    margin-bottom: 20px;
}

.button a{
    text-decoration: none;
    font-size: 1rem;
    color: #111;
}

@media screen and (max-width:574px){
    .greetings{
        display: block;
        font-size: 3rem;
        font-weight: 500;
        text-align: center;
    }
    .description{
        font-size: 1rem;
    }
    
    .button a{
        font-size: .5rem;
    }
}
